<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4dab7653-5dba-4eb5-96c7-90a7c1242e95/resourcegroups/PackageTrackingAPI20250630195945ResourceGroup/providers/Microsoft.Web/sites/PackageTrackingAPI20250630195945</ResourceId>
    <ResourceGroup>PackageTrackingAPI20250630195945ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/4dab7653-5dba-4eb5-96c7-90a7c1242e95/resourceGroups/PackageTrackingAPI20250630195945ResourceGroup/providers/Microsoft.ApiManagement/service/PackageTrackingAPIService/apis/PackageTrackingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://packagetrackingapi20250630195945-ebgxffb9gjgtczfd.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>1b9c2c87-29fc-43da-82df-93b8f86ff930</ProjectGuid>
    <MSDeployServiceURL>packagetrackingapi20250630195945-ebgxffb9gjgtczfd.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PackageTrackingAPI20250630195945</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>